.big{
    height: 1300px;
    width: 1000px;
    background: silver;
    display: flex;
    justify-content: start;
    justify-items: center;
    flex-wrap: wrap;
}
.box1{
    height: 1000px;
    width: 300px;
    background: #fdca00;
    order: 1;

}
.box2{
    height: 400px;
    width: 700px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    order: 2;
}
.bath{
    display: block;
    height: 400px;
    width: 400px;
    background: blueviolet;
}
.ad{
    display: block;
    height: 400px;
    width: 300px;
    background: red;
}
.type{
    height: 900px;
    width: 700px;
    display: block;
    background: #35cd9f;
}

.box3   {
    height: 300px;
    width: 300px;
    background: blue;
    position: relative;
    display: inline-block;
    top: -300px;
    order: 3;
}

.store{
    height: 150px;
    width: 300px;
    background: purple;
}
.tools{
    height: 150px;
    width: 300px;
    background: dodgerblue;
}

@media screen and (max-width: 1360px) {

.box1{
    order: 1;
    height: 300px;
    width: 1000px;
}
    .box2{
        height: 400px;

    }

}

