body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.divWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.divUserAll {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    float: left;
    width: 410px;
}
.divUser{
    width: 195px;
    height: 200px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    background: limegreen;
}
.divUser:hover {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}
.divUserInfo{
    height: 60%;
}
.info{
    height: 30%;
    width: 100%;
    margin-left: 4px;
}
button{
    width: 100%;
    height: 200%;
    background: orange;
    border-radius: 10px;
}
